<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Correo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/navigation") %>
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <form action="/send-email" method="POST">
                <div class="form-group">
                  <h1 class="form-control"> Correo electrónico </h1>
                  <input type="text" name="from" placeholder="From" class="form-control">
                  <input type="text" name="to" placeholder="To" class="form-control">
                  <input type="text" name="subject" placeholder="Subject" class="form-control">
                  <input type="text" name="message" placeholder="Message" class="form-control input-lg">
                </div>

                <button class="btn btn-success btn-block">
                  Send
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>